{% extends 'listings/base.html' %} {% block content %}

<div class="card">
    <h2>{{ band.name }}</h2>
    <div class="card-content">
        <h3>Informations diverses</h3>

        <ul>
            <li>Genre : {{ band.get_genre_display }}</li>
            <li>Année de formation : {{ band.year_formed }}</li>
            <li>Actif : {{ band.active|yesno }}</li>
            {% if band.official_homepage %}
            <li><a href="{{ band.official_homepage }}">{{ band.official_homepage }}</a></li>
            {% endif %}
        </ul>

        <p>Biographie : {{ band.biography }}</p>

        <h3>Article(s) en lien avec l'artiste : </h3>
        <ul>
            {% for listing in band.listing_set.all %}
            <li><a href="{% url 'listing-detail' listing.id %}">{{ listing.title }}</a></li>
            {% endfor %}
        </ul>
        <hr>
        <a href="{% url 'band-change' band.id %}">Editer le groupe</a>
        <a href="{% url 'band-delete' band.id %}">Supprimer le groupe</a>
        <a href="{% url 'band-list' %}">Retourner à la liste des groupes</a>
    </div>
</div>

{% endblock %}